<!DOCTYPE html>
<html>
    <title>Index page</title>
    <body>
        <link rel='stylesheet' href="/css/style.css">
        <script src='/js/app.js'></script>
    </body>
    <body>
        {{>header}}
        <h2>Hello</h2>
    </body>
</html>